body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other content */
    width: 100%;
    background-color:white;
}

.logo {
    font-size: 100px; /* Initial font size */
    font-weight: bold;
    transition: font-size 0.5s ease; /* Smooth transition */
}

.logo a {
    text-decoration: none;
    color: #000;
}

.logo-icon {
    font-size: 100px;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

.language-toggle a {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.all-nav {
    float: right;
    font-weight: normal;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery-item {
    width: 23%;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.gallery-item p {
    margin-top: 10px;
    font-size: 14px;
}

#upcoming-events {
    border-top: 1px solid #000;
    padding-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr:first-child td {
    border-top: none;
}

table td {
    padding: 10px 0;
    border-top: 1px solid #000;
}

button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    margin-top: 20px;
}


#main-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-image {
    max-width: 100%; /* Ensure the image fits within the width of the window */
    height: auto; /* Maintain the aspect ratio of the image */
    display: block;
}